<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home-page.css">
    <script defer src="js/home-page.js"></script>
    <title>Home Cinema</title>
</head>
<body>
    <div class="fbcont" id="check-con-button"><button>CHECK CONNECTIVITY</button></div>
    <div class="movie-control-buttons">
        <div class="choose-movie-box">
            <p>Choose Movie</p>
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
            <span  id="id-of-movie-label">ID of the movie</span>
            <input id="movie-id-input"><br>
            <button class="watch-button remote" id="watch-remote"> Watch Remote  </button>
            <button class="watch-button local"  id="watch-local">  Watch Here    </button>
        </div>

        <div class="fbcont inner-controls">
            <button id="play-pause-button"> Play / Pause    </button>
            <button id="volup-button">      + Vol           </button>
            <button id="voldown-button">    - Vol           </button>
            <button id="fullscreen-button"> Fullscreen      </button>
            <button id="back-button">       Back < 10s      </button>
            <button id="forward-button">    10s > Forward   </button>
            <button id="desktop-button">    Go to Desktop   </button>
            <button id="close-button">      Stop Watching   </button>
        </div>
    </div>
</body>
</html>